<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Generator</title>
    <!-- ICON -->
   <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
  </head>
  <body>
    <main class="vh-100 w-100 d-flex align-items-center">
      <div class="container">
        <!-- OUTPUT -->
        <div class="row justify-content-center mb-3">
          <input id="output" class="form-control text-center" type="text" />
          <button id="copy" style="width: 100px" class="btn btn-success ms-2">Copy</button>
        </div>
        <!-- LENGTH -->
        <div class="d-flex justify-content-center length-container">
          <button class="btn btn-secondary me-1" id="minus">-</button>
          <input
            id="length"
            type="number"
            value="23"
            style="width: 100px"
            class="form-control text-center" />
          <button class="btn btn-secondary ms-1" id="plus">+</button>
        </div>
        <!-- CHECKBOXES  -->
        <div class="d-flex justify-content-center mt-4">
          <div>
            <div>
              <input class="form-check-input" type="checkbox" checked id="Lowercase" />
              <label for="Lowercase">Lowercase</label>
            </div>
            <div class="mt-4">
              <input class="form-check-input" type="checkbox" checked id="Uppercase" />
              <label for="Uppercase">Uppercase</label>
            </div>
            <div class="mt-4">
              <input class="form-check-input" type="checkbox" checked id="Numbers" />
              <label for="Numbers">Numbers</label>
            </div>
            <div class="mt-4">
              <input class="form-check-input" type="checkbox" checked id="Symbols" />
              <label for="Symbols">Symbols</label>
            </div>
            <div class="mt-4">
              <input class="form-check-input" type="checkbox" id="spec_symbols" />
              <label for="spec_symbols">Specific symbols</label>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <button class="btn btn-primary btn-lg" id="generate">Generate</button>
        </div>
      </div>
    </main>
  </body>
</html>
